# python basics

In [15]:
a=12
b=2
c=a+b
d=a-b
e=a*b
f=a/b
g=a%b
c

32

In [16]:
d

-8

In [17]:
e

240

In [18]:
f

0.6

In [19]:
g

12

In [13]:
# int, float, string, boolean, list,tuples,dictionary,set

a = 3
b = float(3)
b

3.0

# data type

In [14]:
#list
x = ["apple","banana",5,10,True]
for items in x:
    print(items)

apple
banana
5
10
True

In [15]:
# tuple
x = ("apple","banana", 50,25, True)
for a in x:
    print(a)

apple
banana
50
25
True

In [2]:
#dictionary set
dic = {"name":"Shivam", "age":21}
settt = {"apple","banana"}
for app in settt:
    print(app)

apple
banana

# string

In [19]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [20]:
x = "free text books free"
if "free" in x:
    print("free")

free

In [23]:
x = "free text books free"
if "expensive" not in x:
    print(" not free")
else:
    print('free')

 not free

# boolean

In [26]:
print(10<9)
print(10 == 9)
print(9 ==9)

False
False
True

List is ordered and changeable, allow duplicate.
Tuple is ordered and uncheagable, allow duplicate.
Set is unordered, no duplicate.
dictionary is ordered and changeable, no duplicate

In [42]:
x = ["shivam","rinki", "shivam"]
x[0] = "Kiwi"
x
 # can change as it is a list

['Kiwi', 'rinki', 'shivam']

In [43]:
x = ("shivam","rinki", "shivam")
x[0] = "Kiwi"
x
# will show error because it is uncheagable tuple

TypeError: 'tuple' object does not support item assignment

In [61]:
x = {"apple","banana","apple","apple"}
# set dont allow duplicated it will ignore it

TypeError: 'set' object is not subscriptable

In [71]:
x = {
        'child1':{
            "name":"shivam",
            "age":10,
            "movie":{
                "first":"Hello world",
                "second":"Noworld"
            }
        },
        "child2":{
            "name":"rinki",
            "age":50,
            "movie":{
                "first":"world",
                "second":"No"
            }
        },
        "child3":{
            "name":"rinki",
            "age":50,
            "movie":{
                "favrt":{
                    "first":"world",
                    "second":"No"
                },
                "medium":{
                    "first":"world",
                    "second":{
                        "free":"free movies"
                    }
                }
            }
        }
    }
x

find the value of child2 movie first

In [6]:
x["child1"]["movie"]['second']

NameError: name 'x' is not defined

In [5]:
add_three=100
add_six=add_three+add_three
add_six

200